<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VendorOnBoarding</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/bootstrap")
  
    @RenderSection("scripts", required: false)
    <link href="~/Content/ShareBoot.css" rel="stylesheet" />
    <style>
        #close {
            float: right;
            display: inline-block;
            padding: 2px 5px;
            background: #ccc;
        }

            #close:hover {
                float: right;
                display: inline-block;
                padding: 2px 5px;
                background: #ccc;
                color: #fff;
                cursor: pointer;
            }
    </style>
</head>
<body class="top-navigation">

    <div id="page-wrapper" class="Index">

        <!-- Header -->
        @Html.Partial("TopNavBar")

            @if (!string.IsNullOrEmpty(Convert.ToString(@TempData["AlertMessage"])))
            {
            <div id="alertstatus">
                @*<span id="close">x</span>*@
                <div class="alert alert-warning">@TempData["AlertMessage"]</div>
            </div>
               
            }

            @if (TempData["sessionexpired"] != null)
            {
            <div id="alertstatus">
                @*<span id="close">x</span>*@
                <div class="alert alert-warning">@TempData["sessionexpired"]</div>
            </div>
                
            }

        @RenderBody()
        <hr />

        <!-- Footer -->
        @Html.Partial("_Footer")
    </div>


    <script type="text/javascript">

     



        window.onload = function () {
          

            //document.getElementById('close').onclick = function () {
            //    var x = document.getElementById("alertstatus");
            //    x.style.display = "none";
            //    return false;
            //};
        };

        </script>


</body>
</html>
