<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendor Onboarding | @ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/ryan.css" rel="stylesheet" />
   
           
           </head>
<body style="padding-top:0px;">
    
    
    <div class="container body-content">
       

        @RenderBody()
        <hr />
        <!-- Footer -->
        @Html.Partial("_Footer")
    </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
